<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WalmartShopping" parallel="none">
  <test name="SearchProduct">
       <classes>
	     <class name="com.testscripts.searchAndOrder" />     
	  </classes>      
  </test> <!-- Test -->
</suite> <!-- Suite -->
